aiosignal==1.4.0
opencv-python==4.11.0.86
pip==25.2
psutil==7.1.2
sentencepiece==0.2.1
starlette==0.49.1
distlib==0.4.0
MarkupSafe==3.0.3
cpm-kernels==1.0.11
tomlkit==0.13.3
nvidia-cusparselt-cu12==0.7.1
pydub==0.25.1
aiofiles==24.1.0
Jinja2==3.1.6
nodeenv==1.9.1
requests==2.32.5
nvidia-nccl-cu12==2.27.5
h11==0.16.0
nvidia-nvshmem-cu12==3.3.20
Pygments==2.19.2
torchdiffeq==0.2.5
triton==3.5.0
urllib3==2.5.0
boto3==1.40.61
nvidia-cuda-runtime-cu12==12.8.90
idna==3.11
cfgv==3.4.0
pytest==8.4.2
huggingface-hub==0.36.0
python-multipart==0.0.20
jmespath==1.0.1
jiter==0.11.1
rich==14.2.0
gitdb==4.0.12
nvidia-nvtx-cu12==12.8.90
gradio_client==1.13.3
tqdm==4.67.1
uvicorn==0.38.0
identify==2.6.15
diffusers==0.35.2
tokenizers==0.22.1
moviepy==2.2.1
fastapi==0.120.1
tensorboard-data-server==0.7.2
ruff==0.14.2
imageio-ffmpeg==0.6.0
pydantic==2.11.10
colorama==0.4.6
annotated-doc==0.0.3
sentry-sdk==2.42.1
markdown-it-py==4.0.0
cycler==0.12.1
wandb==0.22.3
Markdown==3.9
tensorboard==2.20.0
networkx==3.5
imageio==2.37.0
torch==2.9.0
setuptools==80.9.0
websockets==15.0.1
tzdata==2025.2
proglog==0.1.12
numpy==2.2.6
datasets==4.3.0
nvidia-cufft-cu12==11.3.3.83
deepspeed==0.18.1
contourpy==1.3.3
scipy==1.16.3
tifffile==2025.10.16
tensorboardX==2.6.4
groovy==0.1.2
typing-inspection==0.4.2
nvidia-cufile-cu12==1.13.1.3
ninja==1.13.0
scikit-video==1.1.11
peft==0.17.1
icecream==2.1.8
pillow==11.3.0
executing==2.2.1
pyiqa==0.1.14.1
nvidia-cublas-cu12==12.8.4.1
hf-xet==1.2.0
einops==0.8.1
sympy==1.14.0
botocore==1.40.61
numba==0.62.1
timm==1.0.21
distro==1.9.0
wheel==0.45.1
av==16.0.1
decorator==5.2.1
nvidia-curand-cu12==10.3.9.90
certifi==2025.10.5
webdataset==1.0.2
smmap==5.0.2
absl-py==2.3.1
yapf==0.43.0
fonttools==4.60.1
openai==2.6.1
kiwisolver==1.4.9
importlib_metadata==8.7.0
shellingham==1.5.4
Brotli==1.1.0
packaging==25.0
SwissArmyTransformer==0.4.12
pluggy==1.6.0
nvidia-cusparse-cu12==12.5.8.93
filterpy==1.4.5
anyio==4.11.0
safetensors==0.6.2
httpcore==1.0.9
lmdb==1.7.5
pyparsing==3.2.5
matplotlib==3.10.7
mdurl==0.1.2
charset-normalizer==3.4.4
protobuf==6.33.0
typer==0.20.0
msgpack==1.1.2
braceexpand==0.1.7
propcache==0.4.1
addict==2.4.0
decord==0.6.0
openai-clip==1.0.1
regex==2025.10.23
grpcio==1.76.0
accelerate==1.11.0
scikit-image==0.25.2
GitPython==3.1.45
filelock==3.20.0
nvidia-cuda-nvrtc-cu12==12.8.93
hjson==3.1.0
PyYAML==6.0.3
nvidia-cudnn-cu12==9.10.2.21
platformdirs==4.5.0
multidict==6.7.0
safehttpx==0.1.7
nvidia-nvjitlink-cu12==12.8.93
sniffio==1.3.1
python-dateutil==2.9.0.post0
semantic-version==2.10.0
opencv-python-headless==4.12.0.88
pre_commit==4.3.0
virtualenv==20.35.4
bitsandbytes==0.48.1
click==8.3.0
pyarrow==22.0.0
aiohttp==3.13.2
mpmath==1.3.0
asttokens==3.0.0
pandas==2.3.3
lazy_loader==0.4
dill==0.4.0
ftfy==6.3.1
nvidia-cuda-cupti-cu12==12.8.90
transformers==4.57.1
frozenlist==1.8.0
yarl==1.22.0
six==1.17.0
fsspec==2025.9.0
attrs==25.4.0
iniconfig==2.3.0
llvmlite==0.45.1
nvidia-cusolver-cu12==11.7.3.90
zipp==3.23.0
typing_extensions==4.15.0
pytz==2025.2
ffmpy==0.6.4
torchvision==0.24.0
future==1.0.0
gradio==5.49.1
pydantic_core==2.33.2
Werkzeug==3.1.3
multiprocess==0.70.16
py-cpuinfo==9.0.0
annotated-types==0.7.0
httpx==0.28.1
orjson==3.11.4
s3transfer==0.14.0
facexlib==0.3.0
xxhash==3.6.0
aiohappyeyeballs==2.6.1
python-dotenv==1.2.1
wcwidth==0.2.14
jaraco.context==5.3.0
inflect==7.3.1
more-itertools==10.3.0
autocommand==2.2.2
importlib_metadata==8.0.0
wheel==0.45.1
platformdirs==4.2.2
jaraco.functools==4.0.1
typeguard==4.3.0
backports.tarfile==1.2.0
jaraco.collections==5.1.0
zipp==3.19.2
jaraco.text==3.12.1
typing_extensions==4.12.2
tomli==2.0.1
packaging==24.2
